<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
    <style>
        /* Ajoutez ici votre CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #f4f4f4;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .invoice-details {
            margin-bottom: 20px;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .table th {
            background-color: #f2f2f2;
        }
        .total {
            text-align: right;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Confirmation de demande de contact</h2>
        </div>
        <div class="invoice-details">
            <p><strong>Au nom de :</strong> {{ nom }}</p>
            <p><strong>Avec pour mail :</strong> {{ email }}</p>
            <p><strong>Et pour numéro de téléphone :</strong> {{ phone }}</p>
            <p><strong>De genre :</strong> {{ genre }}</p>
            <p><strong>Et de métier :</strong> {{ metier }}</p>
            <p><strong>Née le :</strong> {{ date }}</p>
            <p><strong>La demande ayant pour sujet :</strong> {{ sujet }}</p>
            <p><strong>Et pour message :</strong> {{ message }}</p>

        </div>
        <p>Merci pour votre demande !</p>
    </div>
</body>
</html>
